/* Styles/projList.css */

.proj-heading {
    font-size: 35px;
    color: #073300;
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}

.renderObjects {
    display: grid;
    grid-template-columns: 1fr 1fr
}

.project-card {
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    transition: transform 0.2s;
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-title {
    font-size: 100px;
    color: #073300;
    margin: 0;
}

.project-volunteer {
    font-size: 1em;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #007820;
}

.project-description {
    margin: 15px 0;
    color: rgb(122, 0, 0);
    padding: 10px;
    border-radius: 8px;
    border:2px solid rgb(177, 0, 0) ;
    font-weight: 500;
}

.project-required{
    margin-top: auto;
}

.project-target {
    font-weight: bold;
    margin-bottom: 20px; 
    color: red;
}

.project-amount {
    background-color: rgb(221, 74, 74);
    color: white;
    padding: 5px 15px;
    border-radius: 8px;

}

.see-details-button {
    background-color: #0b5400;
    font-size: large;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 25px; 
    width: 150px;
    padding: 10px 20px; 
    cursor: pointer; 
    transition: background-color 0.3s;
}

.see-details-button:hover {
    background-color: #45a049;
}

/* Styles/projectDetails.css */

.project-details {
    background: #fff;
    padding: 40px;
    margin: 40px auto;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-title {
    font-size: 2em;
    margin-bottom: 20px;
}

.project-volunteer,
.project-franchise,
.project-contact,
.project-dates,
.project-description,
.project-target,
.project-collected,
.project-status {
    font-size: 1.2em;
    margin: 10px 0;
}

.project-dates {
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width: 880px) {
    .project-header{
        flex-direction: column;
        align-items: normal;
    }
    .project-title {
        font-size: 30px;
    }

    .renderObjects {
        grid-template-columns: 1fr;
    }

}