.desc-container-full {
    background: linear-gradient(to right, rgb(0, 65, 59), rgb(0, 53, 0), rgb(44, 0, 0));
    /* Replace with your custom gradient colors */
    height: 100vh;
    /* Equivalent to h-screen for full viewport height */
    width: 100vw;
    /* Equivalent to w-screen for full viewport width */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.desc-details { 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(229, 255, 238);
    width: 55%; 
    padding: 15px;
}

.desc-title {
    font-size: 29px;
    font-weight: bold;
    text-align: center;
}


.desc-volunteer-profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
    font-size: large;
}

.desc-volunteer,
.desc-contact {
    display: flex;
    align-items: center;
    font-weight: 800;
    color: #0a4900c2;

}

.volunteer-name {
    color: #0a4900;
    font-weight: 600;
    margin-left: 8px;
    font-size: larger;
}

.desc-line {
    height: 3px;
    width: 95%;
    margin: 10px auto;
    background-color: #0b5400;
    border-radius: 15px;
}

.desc-dates {
    padding: 5px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.desc-dates div {
    padding: 5px 10px;
    width: 150px;
    text-align: center;
    border-radius: 6px;
}

.desc-start {
    font-weight: 800;
    margin: 0px 6px;
    border: 2px green solid;
    color: green;
}

.desc-end {
    font-weight: 800;
    margin: 0px 6px;
    border: 2px red solid;
    color: red;
}

.desc-start-date {
    margin: 0px 6px;
    background-color: green;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.desc-end-date {
    margin: 0px 6px;
    background-color: red;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.desc-required {
    margin-top: 15px;
}

.desc-target {
    font-weight: bold;
    margin-bottom: 20px;
    color: red;
    margin-right: 32px;
    font-size: 19px;
}

.desc-amount {
    background-color: rgb(221, 74, 74);
    color: white;
    padding: 3px 8px;
    border-radius: 8px;
}

.desc-target-collected {
    font-weight: bold;
    margin-bottom: 20px;
    color: rgb(0, 88, 10);
    font-size: 19px;
    margin-right: 8px;
}

.desc-amount-collected {
    margin-top: 15px;
    background-color: rgba(0, 88, 10);
    color: white;
    padding: 5px 8px;
    border-radius: 8px;
}


.donation-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 15px 0px;
}

.donation-input {
    width: 82%;
    background-color: #0b54009b;
    border: 2px solid rgb(0, 92, 15);
    padding: 10px;
    color: white;
    border-radius: 4px;
    font-size: 18px;
    margin-bottom: 10px;
}

.donation-input::placeholder {
    font-style: oblique;
    color: white;
    font-weight: 400;

}

.donate-button {
    background-color: #0b5400;
    color: white;
    border: none;
    font-size: larger;
    width: 85%;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.donate-button:hover {
    background-color: #0a4900;
}

.donate-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.donation-error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

/* Gradient Background for Description */
.desc-description {
    margin: 18px 0px;
    background-color: #0b54009b;
    border: 2px solid rgb(0, 92, 15);
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    border-radius: 4px;
}

.desc-loader {
    width: 22%;
    height: 55px;
    margin-left: 10px;
    margin-top: 20px;
    background: linear-gradient(-45deg, #002b02, #033900e4, #002b02);
    align-self: center;
    color: #00b533;
    text-align: center;
    align-content: center;
    font-weight: 900;
    border-radius: 12px;
    animation: expandLoader 2s forwards;
}

@keyframes expandLoader {
    from {
        width: 25%;
    }

    to {
        width: 95%;
    }
}

@media screen and (max-width:910px) {
    .desc-container-full{
        height: auto;
    }
    .desc-details {
        width: 75%;
        margin-bottom: 35px;
    }
}

@media screen and (max-width:648px) {
    .desc-details {
        width: 95%;
        margin-top: 35px;
    }

    .desc-volunteer-profile {
        flex-direction: column;
        align-items: flex-start;
        font-size: large;
    }
}