.campaign {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #073300;
    width: 100vw;
    overflow-x: hidden;
}

.camp-heading {
    padding: 10px;
    text-align: center;
    margin: 10px auto;
    border-radius: 10px;
    color: #cbffda;
    font-size: 35px;
    font-weight: 700;
}

.render-campaigns {
    display: flex;
    flex-wrap: wrap;
    margin-top: -15px;
    justify-content: center;

}

.c-render {
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    width: 95vw;
    margin-top: 25px;
    border-radius: 10px;
    background-color: #ffffffaf;
    box-shadow: 0px 0px 13px rgba(20, 45, 20, 0.715);
}

.camp-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

.c-title {
    text-align: center;
    border-radius: 10px;
    background: linear-gradient(-45deg, #002b02, #033900e4, #002b02);
    font-size: 30px;
    font-weight: 500;
    padding: 8px;
    width: 95%;
    color: #ffffff;
}


.c-franchise {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    font-size: larger;
    padding: 10px;
    margin-top: 15px;
    width: 94%;
    background: linear-gradient(-45deg, #033900e4, #002b02, #033900e4);
    color: #b9cebf;
}

.franchise-name {
    color: #beffd0;
    margin: 0px 15px;
    font-weight: 900;
}

.franchise-props {
    margin-top: 15px;
    width: 95%;
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
    font-size: larger;
    padding: 6px;
    background: linear-gradient(-45deg, #002b02, #033900e4, #002b02);
}

.cont-loc {
    color: #004101;
    background-color: #ffffffbe;
    font-size: large;
    font-weight: bold;
    border-radius: 15px;
    padding: 3px 24px;
    margin: 4px 0px;
}

.franchise-props-values {
    margin-top: 15px;
    width: 95%;
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
    font-size: larger;
    padding: 6px;
    border: 2px green solid;
}

.cont-loc-values {
    color: #2f4e00;
    font-size: large;
    font-weight: bold;
    border-radius: 15px;
}


.camp-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

.c-head-desc {
    font-size: larger;
    font-weight: 800;
    color: #c6ffd6;
    margin-bottom: 10px;
}

.c-actual-desc {
    border: 2px #81b08f solid;
    border-radius: 5px;
    width: 93%;
    height: 87%;
    text-align: center;
    padding: 5px;
    color: #dfffe8;
    font-style: oblique;

}

.c-desc-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 83%;
    width: 95%;
    background: linear-gradient(-45deg, #002b02b1, #033700e4, #002b02a5);
    border-radius: 9px;
    padding: 6px;
}

.c-dates {
    display: flex;
    width: 100%;
    padding: 5px;
    justify-content: space-evenly;

}

.c-dates div {
    text-align: center;
    width: 43%;
    border-radius: 8px;
    padding: 7px;
    font-size: larger;
}

.c-start {
    font-weight: 900;
    border: 2px green solid;
    color: green;
}

.c-end {
    font-weight: 900;
    border: 2px red solid;
    color: red;
}

.c-start-date {
    background-color: green;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.c-end-date {
    background-color: red;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.camp-donation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.c-target-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 87%;
    margin-top: 13px;
    padding: 6px;
    border-radius: 12px;
    color: rgb(255, 208, 208);
    font-weight: 500;
    font-size: large;
    background-color: rgb(103, 33, 33);
}

.c-collected-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 87%;
    margin-top: 13px;
    padding: 6px;
    border-radius: 12px;
    color: rgb(198, 230, 199);
    font-weight: 500;
    font-size: large;
    background-color: rgb(44, 100, 46);
}

.c-target-amt {
    color: #ffffff;
    border-radius: 8px;
    margin: 0px 10px;
    padding: 2px 6px;
    font-size: larger;
    font-weight: 900;
}


.c-collected-amt {
    color: #ffffff;
    border-radius: 8px;
    margin: 0px 10px;
    padding: 2px 6px;
    font-weight: 900;
    font-size: larger;
}


.c-status-cont {
    display: flex;
    padding: 8px;
    margin-top: 7px;
    background-color: #2f4e00;
    font-size: larger;
    font-weight: 900;
    border-radius: 12px;
    justify-content: center;
    color: rgb(106, 198, 0);
    width: 87%;

}

.c-status-actual {
    color: #ffffff;
    margin: 0px 15px;
    font-weight: 500;
}

.c-don-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 18px;
}

.c-donations {
    width: 85%;
    border-radius: 25px;
    cursor: grab;
    color: white;
    font-size: large;
    height: 30px;
    font-weight: 600;
    border: 3px #447d54 solid;
    padding: 8px;
    background: linear-gradient(-45deg, #002b02, #033900e4, #002b02);
}

.c-donations::placeholder {
    color: rgb(196, 209, 210);
    font-size: large;
}

.c-handle-donations {
    margin-top: 6px;
    width: 91%;
    background-color: #015719;
    color: #fff;
    padding: 10px;
    border-radius: 12px;
    font-size: larger;
    transition: background-color 0.3s ease;
}

.c-handle-donations:disabled {
    background-color: #ccc;
}

.c-loader {
    width: 22%;
    height: 55px;
    margin-left: 10px;
    margin-top: 20px;
    background: linear-gradient(-45deg, #002b02, #033900e4, #002b02);
    align-self: center;
    color: #00b533;
    text-align: center;
    align-content: center;
    font-weight: 900;
    border-radius: 12px;
    animation: expandLoader 2s forwards;
}

@keyframes expandLoader {
    from {
        width: 25%;
    }

    to {
        width: 95%;
    }
}


@media (max-width: 1100px) {

    .c-render {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .camp-description,
    .camp-details,
    .camp-donation {
        padding: 18px;
    }

    .camp-description,
    .camp-donation {
        padding-top: 0px;
    }

    .c-franchise {
        font-size: x-large;
    }

    .franchise-props {
        font-size: medium;
        padding: 11px;
    }

    .franchise-props-values {
        font-size: medium;
        padding: 11px;
    }

    .cont-loc-values {
        font-size: medium;
        text-align: center;
    }

    .c-proj-heading {
        width: 60%;
        font-size: x-large;
    }

    .c-target-cont {
        font-size: medium;
    }

    .c-collected-cont {
        font-size: medium;
    }

    .c-volunteer-name {
        font-size: larger;
        margin: 0px 8px;
        padding: 2px 4px;
        font-weight: 900;
    }
}