.stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.donation-stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.logos-heading {
    font-size: 35px;
    background-color: rgb(48, 85, 55);
    font-weight: 900;
    color: rgb(255, 255, 255);
    padding: 10px;
    width: 98.4vw;
    border-radius: 50px;
    text-align: center;
}

.card {
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: white;
    border: 2px green solid;
    flex-direction: column;
    margin: 8px;
    height: 185px;
    border-radius: 15px;
}

.title {
    text-align: center;
    margin-top: 15px;
    background-color: #00381abb;
    padding: 10px;
    width: 85%;
    border-radius: 10px;
    font-size: larger;
    font-weight: 800;
}

.charity-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    color: #ffffff;
    padding: 20px;
    height: 95vh;
    width: 97vw;
}

.donate-for-afterlife {
    margin-top: 110px;
    padding: 20px;
}

.charity-header {
    font-size: 85px;
    font-weight: 800;
    color: rgb(255, 255, 255);
}

.afterlife-charity-header {
    color: rgb(142, 167, 135);
    font-size: 55px;
    font-weight: 800;
    -webkit-text-stroke: none;
}

.charity-content {
    width: 85%;
    margin-top: 30px;
    font-size: larger;
    text-align: center;
}

.how-to-help {
    margin-top: 140px;
    display: flex;
    flex-direction: column;
}

.how-to-help h2 {
    font-size: xx-large;
    text-align: center;
    border: 2px white solid;
    border-radius: 8px;
}

.help-section {
    margin-bottom: 20px;
}

.help-heading {
    font-size: xx-large;
    font-weight: 700;
}

.help-section p {
    font-size: 18px;
    margin: 0px;
}

/* SVGAnimation.css */
.svg-container {
    margin: 25px 0px;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 200px;
    position: relative;
}

.animated-svg {
    left: -200px;
    width: 180px;
    height: 180px;
    position: absolute;
    animation: moveLeftToRight 12s linear infinite;
}

.animated-svg:nth-child(1) {
    animation-delay: 0s;
}

.animated-svg:nth-child(2) {
    animation-delay: 2.4s;
}

.animated-svg:nth-child(3) {
    animation-delay: 4.8s;
}

.animated-svg:nth-child(4) {
    animation-delay: 7.2s;
}

.animated-svg:nth-child(5) {
    animation-delay: 9.6s;
}

@keyframes moveLeftToRight {
    0% {
        left: -200px;
    }

    100% {
        left: calc(100% + 200px);
    }
}

.top-volunteers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 99vw;
    color: white;
}

.volunteer-header {
    border: 3px #003807e4 solid;
    font-size: 22px;
    background-color: #e5ffec;
    color: #002b0c;
    margin: 5px;
}


.volunteer-row-1 {
    border: 12px #ffffff solid;
    font-size: 22px;
    background-color: #002b0c;
}

.volunteer-row-2 {
    border: 12px #ffffff solid;
    font-size: 22px;
    background-color: #003f11 !important;
}

.volunteer-row-3 {
    border: 12px #ffffff solid;
    font-size: 22px;
    background-color: #175d2b;
}

.volunteer-row-4 {
    border: 12px #ffffff solid;
    font-size: 22px;
    background-color: #28663b !important;
}

.volunteer-row-5 {
    border: 12px #ffffff solid;
    font-size: 22px;
    background-color: #4ba46c;
}

@media screen and (max-width: 880px) {

    .charity-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        height: 105vh;
        font-size: medium;
        width: 97vw;
        padding: 12px;
    }

    .donate-for-afterlife {
        margin-top: 20px;
        padding: 10px;
    }

    .charity-header {
        font-size: 65px;
    }

    .charity-content {
        font-size: large;
        margin-left: 15px;
        width: 85vw;
    }

    .how-to-help {
        margin-top: -35px;
    }

    .svg-container {
        height: 120px;
    }

    .animated-svg {
        width: 105px;
        height: 105px;
    }

    @keyframes moveLeftToRight {
        0% {
            left: -200px;
        }

        100% {
            left: calc(100% + 200px);
        }
    }

    .help-heading {
        font-size: x-large;
        font-weight: 700;
    }

    .help-section p {
        font-size: 18px;
    }

    .stats {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }

    .donation-stats {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    .card {
        background-color: rgb(240, 255, 244);
    }
} 