.placeForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    margin: 20px;
    padding: 20px;
    background-color: #c0ffd0;
    box-shadow: 0 4px 50px rgb(0, 42, 8);
    border-radius: 18px;
    width: 65vw;
}

.attribute {
    margin: 8px 12px;
    color: #003901;
    font-weight: 700;
    font-size: larger;
    font-style: oblique;
}

.formData input[type="text"],
.formData input[type="email"],
.formData input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: hsl(148, 35%, 35%);
    font-weight: 800;
    font-size: large;
    color: #daffda;
    box-sizing: border-box;
}

.formData button[type="submit"] {
    padding: 10px 20px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #002d01;
    font-size: 1.1rem;
    font-weight: 900;
    cursor: pointer;
}

.formData button[type="submit"]:hover {

    background-color: #009c03;
    color: #acffaf;
}

.edit-btn {
    margin: 10px 5px;
    background-color: #c7ffd6;
    color: rgb(0, 35, 1);
    border-radius: 10px;
    padding: 8px;
    font-size: larger;

}

.proposal {
    margin: 5px;
    background-color: #00340e;
    color: white;
    border-radius: 10px;
    padding: 8px;
    font-size: larger;
}

.accType {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: hsl(148, 35%, 35%);
    color: rgb(231, 255, 196);
    font-size: large;
    font-weight: 700;

}

.selection { 
    color: rgb(231, 255, 196);
    font-weight: 600;
}
.tooglebutton{
    padding: 10px;
    font-size: large;
    font-weight: 600;
    background-color:#c0ffd0; 
    color:  #00340e;
    border-radius: 8px;

}