.gallery {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.donation-stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.logos-heading {
    font-size: 35px;
    background-color: rgb(48, 85, 55);
    font-weight: 900;
    color: rgb(255, 255, 255);
    padding: 10px;
    width: 98.4vw;
    border-radius: 50px;
    text-align: center;
}

.card {
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: white;
    border: 2px green solid;
    flex-direction: column;
    margin: 8px;
    height: 185px;
    border-radius: 15px;
}

.title {
    text-align: center;
    margin-top: 15px;
    background-color: #00381abb;
    padding: 10px;
    width: 85%;
    border-radius: 10px;
    font-size: larger;
    font-weight: 800;
}

.charity-container {

    background: url('/src/Components/Styles/photos/galleryback.jpg');
    background-attachment: fixed;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    padding: 20px;
    height: 95vh;
    width: 97vw;
}

.charity-header {
    text-align: center;
    font-size: 40px; 
    margin-bottom: 35px;
    font-weight: 800;
    padding: 4px 15px;
    background-color: #ffffff;
    color: #2d572c;
    border-radius: 15px;
}

.charity-content {
    margin-bottom: 30px;
    font-size: larger;
    text-align: center;
}

.how-to-help {
    display: flex;
    flex-direction: column;
}

.how-to-help h2 {
    font-size: xx-large;
    text-align: center;
    border: 2px white solid;
    border-radius: 8px;
}

.help-section {
    margin-bottom: 20px;
}

.help-heading {
    font-size: xx-large;
    font-weight: 700;
}

.help-section p {
    font-size: 18px;
    margin: 0px;
}

/* SVGAnimation.css */
.svg-container {
    margin: 25px 0px;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 200px;
    position: relative;
}

.animated-svg {
    width: 180px;
    height: 180px;
    position: absolute;
    animation: moveLeftToRight 12s linear infinite; /* Increased duration for smoother transition */
}
 
.animated-svg:nth-child(1) {
    animation-delay: 0s;
}

.animated-svg:nth-child(2) {
    animation-delay: 2.4s; /* Adjusted delay for spacing */
}

.animated-svg:nth-child(3) {
    animation-delay: 4.8s; /* Adjusted delay for spacing */
}

.animated-svg:nth-child(4) {
    animation-delay: 7.2s; /* Adjusted delay for spacing */
}

.animated-svg:nth-child(5) {
    animation-delay: 9.6s; /* Adjusted delay for spacing */
}

@keyframes moveLeftToRight {
    0% {
        left: -200px; /* Start off-screen */
    }

    100% {
        left: calc(100% + 200px); /* End off-screen */
    }
}


.top-volunteers{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 99vw;
}

.volunteer-top-5{
    display: flex;
    justify-content: space-around;
    margin: 5px;
    padding: 16px;
    font-size: larger;
    background-color: #2d572c;
    color: rgb(171, 255, 159);

}


@media screen and (max-width: 880px) {

    .charity-container {
        height: 105vh;
        font-size: medium;
        width: 95vw;
        padding: 12px;
    } 

    .charity-header {
        text-align: center; 
        margin-top: 0px;
        margin-bottom: 50px;
        font-size: 25px;
    }

    .charity-content{
        font-size: medium;
    }

    .svg-container {  
        height: 120px; 
    }
    
    .animated-svg {
        width: 105px;
        height: 105px;
    }
    @keyframes moveLeftToRight {
        0% {
            left: -200px; 
        }
    
        100% {
            left: calc(100% + 200px); 
        }
    }
 
    .help-heading {
        font-size: x-large;
        font-weight: 700;
    }

    .help-section p {
        font-size: 18px;
    }

    .stats {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }

    .donation-stats {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    .card {
        background-color: rgb(240, 255, 244);
    }
}