/* donor.css */

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    /*
    background-image: url("../login.png");
    background-size: cover;*/
    background-color: #e2ffe2;
    height: 100vh;
    width: 99vw;
}

.signup {
    color: rgb(19, 53, 28);
    border: 3px green solid;
    padding: 20px;
    font-size: xx-large;
    font-weight: 900;
    margin-top: 25px;
    border-radius: 15px;
    width: 35vw;
    text-align: center;
}

.signup-tagline {
    margin: 15px;
    width: 35.5vw;
    padding: 15px;
    font-size: large;
    font-weight: 500;
    color: rgb(196, 255, 207);
    text-align: center;
    background-color: #004b19;
    border-radius: 15px;
}

.form-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #003d036b;
    backdrop-filter: blur(15px);
    padding: 35px;
    border-radius: 20px;
    width: 33.5vw;
    box-shadow: 0 5 40px white;
} 

.text {
    color: #004b19;
    font-size: large; 
    font-weight: 900;
    margin-bottom: 17px;
}

.link {
    text-decoration: none;
    padding: 4px 11px;
    border-radius: 15px; 
    color: rgb(11, 125, 45);
    font-size: x-large; 
    text-decoration: underline;
    font-weight: 600; 
}

.link:hover {
    color: #233e2c; 
}
.accType {
    font-size: x-large;
    color: rgb(0, 44, 10);
    font-weight: 700; 
    font-style: oblique;
    margin-bottom: 10px;
}

.selection {
    padding: 10px;
    width: 75%;
    margin: 8px;
    border-radius: 15px;
    color: aliceblue;
    background-color: #002b01;
    font-size: medium;
    font-weight: 600;
    font-style: oblique;
    border: 2px rgb(183, 255, 205) solid;
}

.display-name,.email,.password {
    padding: 10px;
    width: 70%;
    margin: 8px;
    border-radius: 15px;
    color: rgb(240, 248, 255);
    font-size: large;
    background-color: #002b01;
    border: 2px rgb(183, 255, 205) solid;
}

.form-data input::placeholder{
    color: #80987e;
    font-weight: 400;
    font-size: large;
    font-style: italic;
}


.login-btn {
    background-color: #002b01;
    margin-top: 20px;
    color: rgb(232, 250, 232);
    font-family: Arial, Helvetica, sans-serif;
    border: 3px rgb(1, 87, 0) solid;
    cursor: pointer;
    padding: 10px;
    border-radius: 15px;
    width: 75%;
    font-size: x-large;
    font-weight: 700;
}

.login-btn:hover {
    background-color: rgb(208, 255, 213);
    color: rgb(4, 50, 4);
}

.form-container p {
    margin-top: 20px;
    text-align: center;
}


@media screen and (max-width: 1230px) {
    .form-data {
        width: 75vw;
        padding: 25px; 
    }

    .signup,
    .signup-tagline {
        width: 75vw;
    }

    .accType {
        font-size: larger;
    }

    .display-name,
    .email,
    .password,
    .form-container button {
        width: 92%;
    }


    .login-btn { 
        width: 75%;
    }
    .selection {
        width: 94%;
    }
}

@media screen and (max-width: 830px) {
    .signup {
        font-size: 30px;
    }

    .form-data {
        width: 75vw;
    }

    .form-data {
        padding: 25px;
    }
    .text{
        text-align: center;
    }
    .link { 
        font-size: larger; 
    }

    .login-btn { 
        width: 97%;
    }
    .display-name,
    .email,
    .password,
    .form-container button {
        width: 92%;
    }

    .selection {
        width: 100%;
    }
}