.back {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.headings {
    background-color: rgb(0, 56, 18);
    color: rgb(212, 255, 215); 
    border-radius: 15px;
    margin: 10px;
    width: 200px;
    font-size: 1.3rem;
    font-weight: 800;
    padding: 15px; 
    text-align: center;
}

.table-container {
    width: 95vw;
    overflow: auto;
    border-radius: 15px;
    background-color: rgba(149, 213, 155, 0.711);
}

.table-body {
    box-sizing: border-box;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.head {
    background-color: rgb(0, 66, 2);
    color: white;
    font-weight: 700;
    border: none;
    /* Remove borders from table cells */
    border-radius: 50px;
}

.body {
    text-align: center;
}

.table-body::-webkit-scrollbar {
    height: .5rem;
    width: .5rem;
}

.table-body::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: aqua
}

.table-body th,
.table-body td {
    padding: 8px;
    /* Adjust padding as needed */
    border: none;
    /* Remove borders from table cells */
}

.table-body tr:nth-child(even) {
    background-color: rgb(201, 255, 206);
}